:root{
  --color-fondo-titulo: #400060;
  --color-fondo: #800080;
}

html {
	height: 100%;
}

body {
	margin: 0 0 0 0;
	background-image: url("img/babel.png");
	background: var(--color-fondo);
}

.title {
	background: var(--color-fondo-titulo);
	color: white;
	text-align: left;
	margin: 0;
	padding: 2%;
	font-weight: bold;
}

h1 {
	font-weight: normal;
	background: var(--color-fondo);
	color: white;
	padding: 1%;
	margin: 0;
	text-align: right;
}

h2, h3, li, p {
	margin-left: 2%;
}

li {
	padding: .5%;
}

body div {
	margin: 0 auto;
	display: block;
}

#menu {
	width: 17%;
	padding-top: 4%;
	padding-right: 3%;
	float: left;
	background: var(--color-fondo);
	text-align: right;
}

#menu a {
	color: white;
	text-decoration: none;
}

#menu a:hover {
	color: yellow;
}

#content {
	min-height: 600px;
	width: 80%;
	padding: 0;
	float: right;
	background: white;
}

#content p {
	padding-left: 1%;
}

#content a {
	color: var(--color-fondo-titulo);
	font-weight: bold;
}

#content a:hover {
	color: var(--color-fondo);
}

